ion-content{
    --background:var(--ion-color-primary)
}
ion-icon{
    color: white;
    float: right;
    margin-top: 15px;
    text-align: right;
    font-size: 20px;
}
ion-buttons{
    width: 50px;
    height: 50px;
    float: right;
}
.txt{
    width: 70%;
    margin-left: 15%;
    color:white;
    margin-top: 90px;
    text-align: justify;
}