.ios_header_css{
    padding-top:25px;
}
ion-buttons{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.heading{
    font-family: 'poppins semibold';
    text-align: center;
    color:white;
    font-size: 16px;
    width: 80%;
    margin-left: 10%;
}
.sub-heading{
    color:black;
    font-family: 'poppins regular';
    text-align: center;
    margin-top: 0px;
    font-size: 12px;
}