.heading{
    font-family: 'poppins semibold';
    text-align: center;
    color:white;
    font-size: 16px;
    width: 80%;
    margin-left: 10%;
}
.sub-heading{
    color:white;
    font-family: 'poppins regular';
    text-align: center;
    margin-top: -7px;
    font-size: 10px;
    width: 90%;
    margin-left: 5%;
}
.sub-heading1{
    color:#666666;
    font-family: 'poppins semibold';
    margin-top: -3px;
    margin-left: 0px;
}
.txt{
    font-family: 'poppins regular';
    margin-top: -5px; 
    color:#68686A;
    font-size: 14px;
}
ion-radio{
    width:16px;
    height:16px;
    --border-width: 1px;
}
.margin{
    width: 92%;
    margin-left: 4%;
}
.background1{
    height:250px
}
.content_grid{
    margin-top: 230px;
}
ion-content{
    --overflow:hidden
}
.title{
    color:#666666;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 20px;
    font-family: 'poppins semibold';
}
.ios_header_css{
    padding-top:20px;
}