.heading{
    color:black;
    font-family: 'poppins regular';
}
ion-icon{
    color:black;
    font-size: 20px;
}
ion-input{
    font-family: 'poppins regular';
    --padding-start:10px;
    border:1px solid #dcdcdc;   
}
.form_btn{
    width: 45%;
    height: 40px;
}