.lbl{
    color:#333;
    font-size: 15px;
    font-family: 'poppins bold';
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-title{
    font-family: 'poppins regular';
    font-size: 15px;
    margin-left: -15px;
}
.heading_black{
    color:#333;
    font-family: 'poppins regular';
    font-size: 15px;
}
.circle{
    background-color: var(--ion-color-primary);
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.profile_icon{
    color: white;
    font-size: 25px;
}