<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-item lines="none" style="margin-top:12px">
    <ion-buttons class="close_btn" (click)="close()">
      <ion-icon name="chevron-back-outline" class="close"></ion-icon>
    </ion-buttons>
    <ion-title mode="ios">Change Password</ion-title>
   </ion-item><br>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="txt">Your secrent words and character are your security. So, You can change your password by entering your current password.</p>
  <br>
  <ion-row  class="background ion-no-padding">
    <ion-col size="auto" style="height: 70px; display: flex"
      ><img src="assets/images/password.svg" width="20" class="input_img"
    /></ion-col>
    <ion-col size="9" style="height: 70px">
      <p class="input_lbl">Current Password</p>
      <ion-input
        type="password"
        [(ngModel)]="curr_pass"
        class="input"
      ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row  class="background ion-no-padding">
    <ion-col size="auto" style="height: 70px; display: flex"
      ><img src="assets/images/new_password.svg" width="20" class="input_img"
    /></ion-col>
    <ion-col size="9" style="height: 70px">
      <p class="input_lbl">New Password</p>
      <ion-input
        type="password"
        [(ngModel)]="new_pass"
        class="input"
      ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row  class="background ion-no-padding">
    <ion-col size="auto" style="height: 70px; display: flex"
      ><img src="assets/images/new_password.svg" width="20" class="input_img"
    /></ion-col>
    <ion-col size="9" style="height: 70px">
      <p class="input_lbl">Confirm Password</p>
      <ion-input
        type="password"
        [(ngModel)]="c_pass"
        class="input"
      ></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <button class="form_btn ion-activatable ripple-parent" (click)="update_pass()">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading" class="submit-txt">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect
    ></span>
  </button>
</ion-content>
