<ion-header class="ion-no-border">
  <br>
<ion-item lines="none" style="border-bottom: 1px solid #f3f3f3;">
  <img src="assets/images/property_detail/fin_2.png" width="50">
  <p class="prop_title">Rental Breakdown</p>
  <ion-buttons (click)="close()" slot="end" (click)="close()"><ion-icon name="close" ></ion-icon></ion-buttons>
</ion-item> 
</ion-header>

<ion-content class="ion-padding">
  <h4 class="prop_title" style="text-align: right;margin-right: 10px;margin-top: -5px;">Partner</h4>
  <ion-row style="margin-top: -20px;">
  <ion-col size="5.2"><p class="lbl">Estimate Gross rent per year</p></ion-col>
  <ion-col size="3.4"><p class="value" style="float: left;">$ {{gross_rent_per_year | number:'1.2-2':'en'}}</p></ion-col>
  <ion-col size="3.4"><p class="value" style="float: right;">$ {{gross_rent_per_year | number:'1.2-2':'en'}}</p></ion-col>
</ion-row>
<ion-row>
  <ion-col size="5.2"><p class="lbl">Estimate Service charges</p></ion-col>
  <ion-col size="3.4"><p class="value" style="float: left;">$ {{service_charges}} </p></ion-col>
  <ion-col size="3.4"><p class="value"></p></ion-col>
</ion-row>

<!-- <ion-row class="border">
  <ion-col size="9"><p class="lbl" style="color:var(--ion-color-primary)">Estimate Net rent</p></ion-col>
  <ion-col size="3"><p class="value" style="color:var(--ion-color-primary)">$ {{estimate_net_rent | number:'1.2-2':'en'}}</p></ion-col>
</ion-row> -->

<!-- <ion-row style="margin-top: 5px;">
  <ion-col size="9"><p class="lbl">Estimate Net yield</p></ion-col>
  <ion-col size="3"><p class="value">{{est_net_yield}} %</p></ion-col>
</ion-row> -->

<ion-row>
  <ion-col size="5.2"><p class="lbl">Estimate Cost</p></ion-col>
  <ion-col size="3.4"><p class="value" style="float: left;">$ {{estimat_cost}}</p></ion-col>
  <ion-col size="3.4"><p class="value"></p></ion-col>
  <ion-col size="5.2"><p class="inner_lbl">Estimate Property Management</p></ion-col>
  <ion-col size="3.4"><p class="inner_value" style="margin-top: -15px;float: left;">$ {{prop_management}}</p></ion-col>
  <ion-col size="3.4"><p class="value"></p></ion-col>

  <ion-col size="5.2"><p class="inner_lbl">Estimate Property Insurance / Taxes</p></ion-col>
  <ion-col size="3.4"><p class="inner_value" style="margin-top: -12px;float: left;">$ {{prop_taxes}}</p></ion-col>
  <ion-col size="3.4"><p class="value"></p></ion-col>
</ion-row>
<!-- <ion-row>
  <ion-col size="9"><p class="lbl">Estimate Net dividend income</p></ion-col>
  <ion-col size="3"><p class="value">$ {{estimate_net_dividend_income | number:'1.2-2':'en'}}</p></ion-col>
</ion-row> -->

<ion-row class="border">
  <ion-col size="5.2"><p class="lbl" style="color:var(--ion-color-primary)">Estimate Net rent</p></ion-col>
  <ion-col size="3.4"><p class="value" style="color:var(--ion-color-primary);float: left;">$ {{estimate_net_rent_ | number:'1.2-2':'en'}}</p></ion-col>
  <ion-col size="3.4"><p class="value"  style="color:var(--ion-color-primary)">$ {{estimate_net_rent_ | number:'1.2-2':'en'}}</p></ion-col>
</ion-row>

<!-- <ion-row>
  <ion-col size="9"><p class="lbl">Estimate Net dividend yield</p></ion-col>
  <ion-col size="3"><p class="value">{{net_dividend_yield}} %</p></ion-col>
</ion-row>

<ion-row class="border">
  <ion-col size="9"><p class="lbl" style="color:var(--ion-color-primary)">Estimate Net Partner's income  </p></ion-col>
  <ion-col size="3"><p class="value" style="color:var(--ion-color-primary)">$ {{net_partner_income}}</p></ion-col>
</ion-row> -->

<p class="lbl_">Only 2 decimal places shown. Calculation carried on actual numbers. Some rounding discrepancies may appear.
</p>
</ion-content>

