// ion-buttons{
//     width: 40px;
//     height: 40px;

// }
// .txt{
//     text-align: center;
//     color: var(--ion-color-primary);
//     margin-top: 10px;
// }
// ion-avatar{
//     width: 80px;
//     height: 80px;
// }
// ion-icon{
//     font-size: 20px;
//     margin-top: 5px;
//     color:var(--ion-color-primary)
// }
// .sub_heading{
//     font-family: 'poppins regular';
//     font-size: 12px;
//     margin-left: 20px;
// }
// .lbl{
//     color:var(--ion-color-primary);
//     font-size: 13px;
//     font-family: 'poppins bold';
// }
// ion-input{
//     font-family: 'poppins regular';
//     border:1px solid #dcdcdc;
//     --padding-start:10px;
// }
// .ios_header_css{
//     margin-top: 20px;
//     height: 100px;
// }
// ion-segment{
//     width: 90%;
//     margin-left: 5%;
//       &::-webkit-scrollbar {
//     display: none;
//   }
// }
// .tab_lbl_active{
//     color:var(--ion-color-primary);
// }
// .heading_black{
//     color:black;
//     font-family: 'poppins regular';
//     font-size: 16px;
// }
// .hori{
//     height: 1px;
//     width: 100%;
//     background-color: #dcdcdc;
//     margin-top: 20px;
// }
// .lbl_checkbox{
//     color:#7B7B7B;
//     font-family: 'poppins regular';
//     margin-left: 10px;
//     margin-top: -2px;
// }
// .phone_icon{
//     font-size: 15px;
//     color: white;
//     margin-right: 10px;
// }
// ion-toggle{
//     --handle-width:20px;
//     --handle-height:20px;
//     height: 25px;
//     width: 45px;
//     margin-right: -20px;

// }
// .circle{
//     background-color: var(--ion-color-primary);
//     width: 40px;
//     height: 40px;
//     border-radius: 30px;
// }
// .profile_icon{
//     color: white;
//     font-size: 25px;
//     margin-top: 0px;
// }
// .circle{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .grey_color{
//     background-color: #E0E0E0;
//     width: auto;
//     padding:14px 13px;
// }
// ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {
//     --padding-start: 10px;
// }
// ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h {
//     --padding-start: 10px;
// }

.background{
    background:url("../../assets/images/check1.png");
    background-size:cover;
    background-position:center;
    // background-size: cover;
    //  height:100%;
    // background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-color: #464646;

    // display: inline-block;
    // width: 100%;
    // height: 100%;
    // font-size: 0;
    // line-height: 0;
    // vertical-align: middle;
    // background-size: 100%;
    // background-position: 50% 50%;
    // background-repeat: no-repeat;
}
