.heading{
    font-family: 'poppins semibold';
    text-align: center;
    color:white;
    font-size: 16px;
    width: 80%;
    margin-left: 10%;
}
.sub-heading{
    color:white;
    font-family: 'poppins regular';
    text-align: center;
    margin-top: -7px;
    font-size: 10px;
    width: 80%;
    margin-left: 10%;
}
ion-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    --overflow:hidden
}


.lbl{
    font-family: 'poppins regular';
    color:#A0A0A2 ;
}
.error-message{
    color:var(--ion-color-danger);
    font-family: 'poppins regular';
    border: 1px solid var(--ion-color-danger);
}
.error-message1{
    font-family: 'poppins semibold';
    color:var(--ion-color-danger);

}
.ion-activatable{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.bottom_txt{
    cursor: pointer;
    color:var(--ion-color-primary);
    font-family: 'poppins regular';
    text-decoration: none;
    outline: none;
}
.bottom{
    width: 100%;
 height: auto;
 position: absolute;
 bottom: 7px;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0px 20px;
 font-family: 'poppins regular';
}

.bottom_txt{
    cursor: pointer;
    color:var(--ion-color-primary);
    font-family: 'poppins regular';
    text-decoration: none;
    outline: none;
}
.background1{
    height:250px
}
.content_grid{
    margin-top: 210px;
}
.ios_header_css_{
    padding-top:20px;
}
.form_btn{
    width: 54px;
    height:54px;
    border-radius: 50px;
    margin-top: 15px;
    box-shadow: 0 0 10px #ccc;
}
ion-input{
    font-family: 'poppins regular';
}
ion-spinner{
    width: 20px;
  }