.center{
    margin-top: 0px;
    margin-left: 0px;
}
.close_btn{
    margin-left: 15px;
    margin-top: -10px;
}
.heading{
    margin-left: 15px;
}
.sub-heading{
    font-family: 'poppins regular';
    margin-top: 10px;
    text-align: left;  
    width: 90%;
    margin-left: 5%;
}
.form_btn{
    width: 54px;
    height: 54px;
    border-radius: 50px;
    margin-left: 5%;
    margin-top: 15px;
    box-shadow: 0 0 10px #ccc;
} 

ion-spinner{
    width: 20px;
  }
  ion-input{
    font-family: 'poppins regular';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    margin-left: 2px;
    color:#333;
    font-size: 14px;
  }