<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149144825431-79lah557p5v078bipu2jqhn8g346115b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149144825431-79lah557p5v078bipu2jqhn8g346115b</string>
	<key>API_KEY</key>
	<string>AIzaSyAkDTiAR5Wa7nYZ0gwjWit5zqF7Jnk6JB0</string>
	<key>GCM_SENDER_ID</key>
	<string>149144825431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vairt.app</string>
	<key>PROJECT_ID</key>
	<string>vairt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vairt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149144825431:ios:8d4b13b756d4cd76f0bd12</string>
</dict>
</plist>