<ion-header class="ion-no-border">
  <ion-slides  pager=true class="ion-no-padding slides"  [pager]="true" [options]="opts">
    <ion-slide *ngFor="let property_images of property_images;let i=index">      
      <ion-grid  class="background-img" [style.background-image]="'url(' + property_images + ')'">
        <img src="assets/images/left-arrow-white.svg" class="back_arrow" style="width: 30px;" (click)="back()" [ngClass]="{'ios_header_backbtn':ios_header==true}">
        <ion-buttons  (click)="home()" class="home_btn"  [ngClass]="{'ios_header_css_back':ios_header==true}">
          <ion-icon name="home" class="home_icon"></ion-icon>
        </ion-buttons>
      </ion-grid>
    </ion-slide>
  </ion-slides> 
  </ion-header>

<ion-content class="ion-padding">
  <br>
      <p class="address">#{{this.title}}</p>
      <p class="type">{{address}}</p>
      
      <ion-row class="ion-no-padding" style="margin-top: -10px;">
        <ion-col size="6">
          <p class="sub_title">Purchase Price </p>
          <button class="price_btn" style="margin-top: -10px;">${{purchase_price}}</button>
        </ion-col>
        <ion-col size="6">
          <p class="sub_title" style="text-align: right;">Remaining Share</p>
          <button class="price_btn right">${{remaining_share}} </button>
        </ion-col>
      </ion-row>

      <div class="hori_divider"></div>

      <h4 class="heading_">Tell Us More About Yourself</h4>
      <p class="info">We need to learn more about investment expierence and preferences to gauge if this investment is appropriate for you</p>

      <div class="hori_divider"></div>
      <br>

      <ion-segment scrollable mode="md" [(ngModel)]="current_value" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="md"  value="{{segment.value}}" *ngFor="let segment of segments;">
          <p class="tab_lbl" [ngClass]="{'tab_lbl_active':segment.status==true}">{{segment.name}}</p>
        </ion-segment-button>
      </ion-segment>

      <!-- <ion-slides pager=true [options]="slideOptsOne" class="ion-no-padding" style="height: 152px;">
        <ion-slide> -->
      <div *ngIf="current_value=='stage1'">
        <br>
      <p class="txt" style="margin-left: 10px;">What is your reason for making the investment?</p>
        <ion-radio-group [(ngModel)]="reason" style="width: 100%;margin-top: -35px;">
        <ion-row class="ion-no-padding adjust">
          <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
          <ion-col size="11"><p class="txt">Create an additional source of income.</p></ion-col>
        </ion-row>
        <ion-row class="ion-no-padding adjust">
          <ion-col size="1"><ion-radio value="2" mode="md"></ion-radio></ion-col>
          <ion-col size="11"><p class="txt">Grow my investment portfolio value.</p></ion-col>
        </ion-row>
      <ion-row class="ion-no-padding adjust">
        <ion-col size="1"><ion-radio value="3" mode="md"></ion-radio></ion-col>
        <ion-col size="11"><p class="txt">Preserve my savings with minimal risk.</p></ion-col>
      </ion-row>
    </ion-radio-group>
    <div class="hori_divider"></div><br>
    <ion-item lines="none">
    <button class="form_btn ion-activatable ripple-parent" (click)="back1()" >
      <img src="assets/images/arr_back.png" width="10"> <span> Back </span></button>
      <button class="form_btn ion-activatable ripple-parent" (click)="next1()" >
         <span> Next </span> <img src="assets/images/arr_forward.png" width="10"></button>
    </ion-item>
   </div>
  
<!--------------- Stage 2 ----------------------->
<div *ngIf="current_value=='stage2'" style="margin-left: 20px;">
  <ion-radio-group [(ngModel)]="stocks"><br>
    <p class="sub-heading1">Stocks</p>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">None</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="2" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Limited</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="3" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt" mode="md">Expierence</p></ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group [(ngModel)]="bonds"><br>
    <p class="sub-heading1">Private Bonds</p>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">None</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio mode="md" value="2"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Limited</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="3" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Expierence</p></ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group [(ngModel)]="equity"><br>
    <p class="sub-heading1">Bonds</p>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">None</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio mode="md" value="2"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Limited</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio mode="md" value="3"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Expierence</p></ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group [(ngModel)]="capital"><br>
    <p class="sub-heading1">Venture Capital</p>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">None</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio mode="md" value="2"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Limited</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio mode="md" value="3"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Expierence</p></ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group [(ngModel)]="business"><br>
    <p class="sub-heading1">Resturant/Small Business</p>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">None</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="2" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Limited</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="3" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Expierence</p></ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group [(ngModel)]="real_estate"><br>
    <p class="sub-heading1">Real Estate</p>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">None</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="2" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Limited</p></ion-col>
      <ion-col size="1" style="margin-top: 0px;"><ion-radio value="3" mode="md"></ion-radio></ion-col>
      <ion-col size="11" style="margin-top: 0px;"><p class="txt">Expierence</p></ion-col>
    </ion-row>
  </ion-radio-group>

  <div class="hori_divider"></div><br>
  <ion-item lines="none">
  <button class="form_btn ion-activatable ripple-parent" (click)="back2()">
    <img src="assets/images/arr_back.png" width="10"> <span> Back </span></button>
    <button class="form_btn ion-activatable ripple-parent" (click)="next2()" >
       <span> Next </span> <img src="assets/images/arr_forward.png" width="10"></button>
  </ion-item>
 </div>

  <!---------------Stage 3----------------->
  <div *ngIf="current_value=='stage3'" style="margin-left: 20px;">
  <h4 class="title">When would you need to exit this investment?</h4>
  <ion-radio-group [(ngModel)]="when">
    <ion-row class="ion-padding">
    <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">Less than 1 year</p></ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: -30px;">
    <ion-col size="1"><ion-radio value="2" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">1-3 Years</p></ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: -30px;">
    <ion-col size="1"><ion-radio value="3" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">3-5 Years</p></ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: -30px;">
    <ion-col size="1"><ion-radio value="4" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">5-7 Years</p></ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: -30px;">
    <ion-col size="1"><ion-radio value="5" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">7-10 Years</p></ion-col>
  </ion-row>
  <ion-row class="ion-padding" style="margin-top: -30px;">
    <ion-col size="1"><ion-radio value="6" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">10+</p></ion-col>
  </ion-row>
  </ion-radio-group>
  <div class="hori_bar"></div>
  <p class="des">You selected an investment time horizon indicated above. The investment you have selected has an anticipated hold period of at least 5 years, and as this is an illiquid investment, you may not be able to sell or otherwise exit your investment for sometime.</p>

  <h4 class="title">Please select one of the following</h4>
<ion-radio-group [(ngModel)]="comfort">
  <ion-row class="ion-padding">
  <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
  <ion-col size="11"><p class="txt">i'm comfortable with the investment time horizon</p></ion-col>
</ion-row>

<ion-row class="ion-padding" style="margin-top: -30px;">
  <ion-col size="1"><ion-radio value="2" mode="md"></ion-radio></ion-col>
  <ion-col size="11"><p class="txt">i'm not comfortable with having my money locked up for the investment time horizon</p></ion-col>
</ion-row>
</ion-radio-group>

<div class="hori_divider"></div><br>
<ion-item lines="none">
<button class="form_btn ion-activatable ripple-parent" (click)="back3()">
  <img src="assets/images/arr_back.png" width="10"> <span> Back </span></button>
  <button class="form_btn ion-activatable ripple-parent" (click)="next3()" >
     <span> Next </span> <img src="assets/images/arr_forward.png" width="10"></button>
</ion-item>
</div>

<!--------------Stage 4 ------------>
<div *ngIf="current_value=='stage4'" style="margin-left: 20px;">
<p class="title" style="margin-left: -5px;">What would you need to exit this investment?</p>
<ion-radio-group [(ngModel)]="risk">
  <ion-row class="ion-no-padding">
    <ion-col size="1"><ion-radio value="1" mode="md"></ion-radio></ion-col>
    <ion-col size="11"><p class="txt">A high risk investment for a high potential return</p></ion-col>
  </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="1"><ion-radio value="2" mode="md"></ion-radio></ion-col>
      <ion-col size="11"><p class="txt">A moderate risk investment for a moderate potential return</p></ion-col>
    </ion-row>

      <ion-row class="ion-no-padding">
        <ion-col size="1"><ion-radio value="3" mode="md"></ion-radio></ion-col>
        <ion-col size="11"><p class="txt">A low risk investment for a low potential return</p></ion-col>
      </ion-row>
  </ion-radio-group>
  <div class="hori_divider"></div><br>
  <ion-item lines="none">
  <button class="form_btn ion-activatable ripple-parent" (click)="back4()">
    <img src="assets/images/arr_back.png" width="10"> <span> Back </span></button>
    <button class="form_btn ion-activatable ripple-parent" (click)="next4()" >
      <span> Next </span> <img src="assets/images/arr_forward.png" width="10"></button>
  </ion-item>
 </div>
<!---------------------------------->

<!-----------------Stage 5--------->
<div  *ngIf="current_value=='stage5'" style="width: 95%;margin-left: 2.5%;">
  <h4 class="title">What is your current annual income?</h4>
  <!-- <ion-input type="text" [(ngModel)]="income" readonly (click)="current_income_model()" [ngModelOptions]="{standalone: true}"></ion-input> -->
  

  <ion-row  class="background ion-no-padding">
    <ion-col size="auto" style="height: 70px; display: flex"
      ><img src="assets/images/net_income.svg" width="20" class="input_img"
    /></ion-col>
    <ion-col size="9" style="height: 70px">
      <p class="input_lbl">Annual Income</p>
      <ion-input
        type="text"
        readonly
        [(ngModel)]="income"
        (click)="current_income_model()" 
        [ngModelOptions]="{standalone: true}"
        class="input"
      ></ion-input>
    </ion-col>
  </ion-row>

  <h4 class="title" style="margin-left: 10px;">What is your current net worth?</h4>
  <!-- <ion-input type="text" [(ngModel)]="worth" readonly (click)="net_worth_model()" [ngModelOptions]="{standalone: true}"></ion-input> -->
  <ion-row  class="background ion-no-padding">
    <ion-col size="auto" style="height: 70px; display: flex"
      ><img src="assets/images/net_income.svg" width="20" class="input_img"
    /></ion-col>
    <ion-col size="9" style="height: 70px">
      <p class="input_lbl">Net Worth</p>
      <ion-input
        type="text"
        [(ngModel)]="worth"
        (click)="net_worth_model()" 
        [ngModelOptions]="{standalone: true}"
        class="input"
      ></ion-input>
    </ion-col>
  </ion-row>

  <br>
  <ion-item lines="none">
  <button class="form_btn ion-activatable ripple-parent" (click)="back5()">
    <img src="assets/images/arr_back.png" width="10"> <span> Back </span></button>
    <button class="form_btn ion-activatable ripple-parent" (click)="next5()" >
      <span> Next </span> <img src="assets/images/arr_forward.png" width="10"></button>
  </ion-item>
</div>
  <br>
<!--------------------------------->
  <!-- </ion-slide>
    </ion-slides> -->
    <div class="row" (click)="cancel_inves()">
      <img src="assets/images/cancel.png" width="20" style="margin-top: 2px;">
      <button class="trans_btn" style="color:#b8babb;width: auto;margin-top: 0px;">Cancel Investment</button>
   </div><br>
    </ion-content>
